body {
    font-family: 'Noto Sans KR', sans-serif;
    background-attachment: fixed;
}

/* ===========================
   Hero Section
=========================== */
.hero-section {
    background: #ffffff;
    font-family: "Noto Sans--DisplaySemiBold", Helvetica;
    font-weight: 500;
    color: #aad8ff;
    padding: 4rem 0;
    margin-bottom: 2rem;
    text-align: center;
}


/* ===========================
   Search input - group
=========================== */

.input-group{
    width: 620px;
    height: 50px;

    background: #fff;
    border-radius: 12px;

    overflow: hidden;

    box-shadow: 0 5px 8px rgba(0,0,0,.06);
}

#location-search-btn{

    background: transparent;
    border: none;

    width:60px;

    display:flex;
    justify-content:center;
    align-items:center;
}

#location-search-btn i{

    font-size:24px;

    color:#C8C8C8;
}


#location-search-input{

    border:none;

    box-shadow:none;

    font-size:18px;

    color:#AAD8FF;

    padding-left:5px;
}

#location-search-input::placeholder{

    color:#AAD8FF;

    font-size:18px;
}


.location-icon {
	width: 28px;
	height: 28px;
    margin-top: 10px;
	margin-left: 15px;
	margin-right: 13px;
	object-fit: fill;
}


/* ===========================
   Card
=========================== */
.card {
    transition: transform 0.2s;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.food-card {
    cursor: pointer;
}

.food-card:hover {
    transform: translateY(-5px);
    background-color: #e9ecef;
}

.food-card img {
    height: 200px;
    object-fit: cover;
}

/* ===========================
   Weather
=========================== */

.weather-wrapper{
    position: relative;
    width: 100%;
    max-width: 980px;
    margin: 0px auto;
    overflow: visible;
}

.weather-box-icon{
    position: absolute;

    width:80px;
    height:80px;
    object-fit:contain;

    /* 카드 바깥 왼쪽 위 */
    top:-45px;
    left:-44px;

    z-index:100;
}

.weather-card {
  background-color: #acd8f8;
  border-radius: 38px;
  min-height: 220px;
  padding: 24px 44px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.22);
  color: #fff;
}

.weather-content {
  width: 100%;
  text-align: center;
}

#location-name {
  font-size: 28px;
  font-weight: 800;
  /*color: #fff;*/
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.22);
  margin-bottom: 25px;
  color: rgb(255, 255, 255);
}

.section-title i {
  margin-right: 14px;
}

.weather-main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 10px;
}

.weather-left {
  text-align: center;
  margin-left: 28px;
}

.weather-icon {
  font-size: 6.5rem;
  color: #fff;
  line-height: 1;
}

.weather-description {
  font-size: 22px;
  font-weight: 700;
  margin-top: 18px;
  margin-bottom: 0;
  color: #fff;
}

.weather-center {
  width: 32%;
  text-align: center;
  margin-left: -20px;
  margin-top: -25px;
  text-shadow: rgba(0, 0, 0, 0.22) 2px 3px 4px;
}

.temperature {
  font-size: 100px;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  margin: 0;
  text-shadow:
    0 5px 8px rgba(0, 0, 0, 0.35),
    inset 0 2px 4px rgba(255, 255, 255, 0.6);
}

.weather-right {
  /* width: 32%; */
  display: flex;
  flex-direction: column;
  gap: 24px;
  /* margin-left: -20px; */
  padding-left: 14px;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: rgba(255, 255, 255, 0.65);
}

.weather-detail-row {
  display: grid;
  grid-template-columns: 42px 90px 1fr;
  align-items: center;
  column-gap: 14px;
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.22);
}

.weather-detail-row i {
  font-size: 34px;
}

.detail-label {
  text-align: left;
  font-size: 20px;
}

.detail-value {
  text-align: left;
  font-size: 20px;
}






/* ===========================
   Section
=========================== */
.section-title {
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: #B7B7B7;
}

#text-recommendation-food {
    display: flex;
    /* text-align: center; */
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.text-muted {
    color: #B7B7B7;
}

/* ===========================
   Map
=========================== */
#map {
    width: 100%;
    height: 770px;
    border-radius: 15px;
}

#map-and-list-section {
    margin-top: 4rem !important;
}

/* ===========================
   Restaurant List
=========================== */
.list-group-item {
    border: none;
    border-width: 5px;
    border-color: #000000;
}

#search-results-list {
    margin-top: 23px;
}

#search-results-list .list-group-item:first-child {
    border-top-left-radius: .5rem;
    border-top-right-radius: 15px;
    border-top-width: 1px;
}

#search-results-list .list-group-item:last-child {
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: 15px;
}

#search-results-list .list-group-item.active {
    color: var(--bs-body-color);
    background-color: var(--bs-list-group-bg);
    border-color: var(--bs-list-group-border-color);
}

/* ===========================
   Carousel
=========================== */
#foodCarousel .carousel-control-prev-icon,
#foodCarousel .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    padding: 1.2rem;
    background-size: 50%;
}

/* ===========================
   Common
=========================== */
a {
    text-decoration: none;
}

.wrap {
    padding: 10px;
}

/* ===========================
   Popup
=========================== */
.pop_wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    font-size: 0;
    text-align: center;
}

.pop_wrap::after {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
}

.pop_wrap .pop_inner {
    display: inline-block;
    padding: 20px 30px;
    background: #ffffff;
    width: 200px;
    vertical-align: middle;
    font-size: 15px;
}

/* ===========================
   Heatmap Image
=========================== */
.resultimg {
    width: 900px;
    height: 700px;
}